{% extends "base.html" %}

{% block conteudo %}
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
    {% for msg in mensagens %}
        {{ msg }}
    {% endfor %}
{% endif %}


<table>
    <tr>
        <th>Nome</th>
        <th>Responsável</th>
        <th>Numero de Funcionários</th>
        <th>Editar</th>
        <th>Remover</th>



    </tr>
    {% for departamento in dados%}
    <tr>
        <td>{{departamento.nome}}</td>
        <td>{{departamento.responsavel}}</td>
        <td>{{departamento.numero_funcionarios}}</td>
        <td>
            <a href="departamento/edita/{{departamento.id_departamento}}">✎</a>
        </td>
        <td>
            <a href="/departamento/remove/{{departamento.id_departamento}}">🗑</a>
    </tr>


    {% endfor %}

</table>
<a href="/departamento/add" class="Voltar">+ Adicionar</a>

<a href="/" class="Voltar">Voltar</a>

{%endblock%}