{% extends "base.html" %}

{% block conteudo %}
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
    {% for msg in mensagens %}
        {{ msg }}
    {% endfor %}
{% endif %}

<a href="/usuario/add">+ Adicionar</a>
<table>
    <tr>
        <th>Nome</th>
        <th>Responsável</th>
        <th>Numero Funcionários</th>
        <th>Remove</th>



    </tr>
    {% for usuario in dados%}
    <tr>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.responsavel}}</td>
        <td>{{usuario.numero_funcionarios}}</td>
        <td>
            <a href="usuario/edita/{{usuario.id}}">Editar</a>
        </td>
        <td>
            <a href="/usuario/remove/{{usuario.id}}">remover</a>
    </tr>


    {% endfor %}

</table>



{%endblock%}

