.texto{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: left;
}

header{
    color: white;
    display: flex;
    flex-direction: column;
}
:root{
    --azul: white;
}


header nav{
    height: 2rem;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    
}

.titulo {
    color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 120px;
    align-items: center;
    background-image: url("banner.jpeg");
}

.sumario {
    height: 2rem;
    background-color: rgb(5, 122, 231);
    display: flex;
    justify-content: space-evenly;
    color: white;
}


header nav a{
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px - 4rem);
}

fieldset{
    margin: 5rem;
    padding: 0.5rem;
    border: 2px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

select{
    border: 1px solid gray;
    background-color: white;
}

input {
    border: 1px solid gray;
}

textarea {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}


table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 2rem;
}


table tr td b{
    display: flex;
    justify-content: center;
}

table tr td{
    padding: 5px;
    text-align: center;
    -webkit-text-stroke-width: 0.03rem;
}


.materia {
    text-align: left;
    -webkit-text-stroke-width: 0rem;
}

.nota {
    -webkit-text-stroke-width: 0rem;
}


table{
    margin-left: auto;
    margin-right: auto;
}

footer{
    align-items: center;
    color: white;
    background-color: rgb(5, 122, 231);
    height: 40px;

    
}
